body {
  background-color: #6592cf;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.content-challenge {
  width: 400px;
  height: 400px;
}

/* start challenge */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #6592cf;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rectangle {
  background-color: #243d83;
  width: 300px;
  height: 150px;
}

.circle {
  background-color: #6592cf;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.md {
  width: 150px;
  height: 150px;
}

.blue-dark {
  background-color: #243d83;
}

.sm {
  width: 50px;
  height: 50px;
}

.yellow {
  background-color: #eeb850;
}
/* end challenge */
